* {
    box-sizing: border-box;
}

html, body, #wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
}

body > div {
    margin: 0 !important;
}

/* Header part */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 25px;
    border-radius: 40px;
    background-color: #f8f5f0;
    color: black;
    margin: 10px 150px 0 150px;
}

.brand {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
}

.header-logo {
    height: 50px;
    margin-right: 10px;
}

.title {
    text-decoration: none;
    font-size: 24px;
    color: #000;
}

.season-link {
    text-align: center;
    flex: 1;
    font-size: 24px;
    color: #000;
    text-decoration: none;
}

.nav-links {
    display: flex;
    gap: 30px;
    text-align: right;
    transition: all 0.3s ease;
}

.page {
    text-decoration: none;
    color: rgba(0,0,0,0.5);
    transition: color 0.3s ease;
}
.page:hover {
    color: rgba(0,0,0,0.7);
}

.dropdown-nav-container {
    display: none;
}

.menu-icon {
    width: 24px;
    height: auto;
    vertical-align: middle;
}

.content {
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.menu-button {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.close-menu-button {
    background: transparent;
    border: none;
    font-size: 24px;
    line-height: 1;
    cursor: pointer;
    align-self: flex-end;
    margin-bottom: 10px;
}

@media (max-width: 1750px) {
    .menu-button {
        display: block;
    }

    .title {
        font-size: 20px;
    }

    .brand .header-logo {
        height: 40px;
    }

    .page {
        font-size: 15px;
    }
    
    .nav-links {
        display: none;
    }
    .nav-links.open {
        display: flex;
    }
}

@media (max-width: 1600px) {
    .title {
        font-size: 18px;
    }

    .brand .header-logo {
        height: 36px;
    }

    .page {
        font-size: 14px;
    }

    .nav-links {
        gap: 10px;
    }
}

@media (max-width: 1400px) {
    .menu-button {
        display: block;
    }
    .nav-links {
        display: none;
    }
}

@media (max-width: 992px) {
    .header {
        margin: 10px 10px 0 10px;
    }
}

@media (max-width: 480px) {
    .header {
        margin: 0;
        border-radius: 0;
        padding: 5px 7px;
    }
    .title {
        font-size: 16px;
    }
    .season-link {
        font-size: 16px;
    }

    .brand .header-logo {
        height: 30px;
    }
}

.page-offcanvas {
    display: block;
    padding: 10px 0;
    font-size: 18px;
    color: rgba(0,0,0,0.8);
    text-decoration: none;
}

.page-offcanvas:hover {
    color: rgba(0,0,0,1);
}

/* home.py */
.hero-background {
    background-image: url("/assets/dataFootWallpaper.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    filter: brightness(70%);
    z-index: -1;
}

.hero-content {
    width: 100%;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f8f5f0;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    position: relative;
    margin-top: 0;
}

.hero-title {
    font-size: 80px;
    font-weight: bold;
    margin: 0;
    white-space: pre-wrap;
}

.hero-subtitle {
    font-size: 40px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 40px;
    white-space: pre-wrap;
}

.hero-button {
    padding: 12px 30px;
    font-size: 20px;
    background-color: #44A3DB;
    color: #f8f5f0;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.hero-button:hover {
    background-color: #3590c8;
}

/* Intro Section */
.intro-section {
    padding: 120px 40px 30px 40px;
    text-align: center;
    max-width: 1150px;
    margin: auto;
    color: #333;
}

.intro-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.intro-text {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #333;
}

@media (max-width: 992px) {
    .hero-title {
        font-size: 50px;
    }
    .hero-subtitle {
        font-size: 28px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .hero-button {
        font-size: 18px;
        padding: 10px 25px;
    }
    .hero-background {
        height: 50vh;
    }
    .hero-content {
        height: 45vh;
    }
    /* Intro Section */
    .intro-section {
        padding: 0px 30px 25px 30px;
    }

    .intro-title {
        font-size: 30px;
    }

    .intro-text {
        font-size: 16px;
        margin-bottom: 18px;
    }
}

@media (max-width: 768px) {
    .hero-title {
        font-size: 36px;
    }
    .hero-subtitle {
        font-size: 24px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .hero-button {
        font-size: 16px;
        padding: 8px 20px;
    }
    .hero-background {
        height: 45vh;
    }
    .hero-content {
        height: 40vh;
    }
    /* Intro Section */
    .intro-section {
        padding: -20px 20px 20px 20px;
    }

    .intro-title {
        font-size: 26px;
    }

    .intro-text {
        font-size: 15px;
        line-height: 1.5;
        margin-bottom: 15px;
    }
}

@media (max-width: 480px) {
    .hero-title {
        font-size: 28px;
    }
    .hero-subtitle {
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .hero-button {
        font-size: 14px;
        padding: 6px 15px;
    }

    .hero-background {
        height: 40vh;
    }
    .hero-content {
        height: 37vh;
    }
    /* Intro Section */
    .intro-section {
        padding: 0px 15px 15px 15px;
    }

    .intro-title {
        font-size: 22px;
        margin-bottom: 15px;
    }

    .intro-text {
        font-size: 14px;
        margin-bottom: 12px;
    }
}

/* Cards Section */
.cards-section {
    padding: 60px 160px;
    text-align: center;
    background-color: #f8f5f0;
    width: 99vw;
    border-top: 2px solid #dedede;
    border-bottom: 2px solid #dedede;
    box-sizing: border-box;
    margin: 0 auto;
}

.cards-grid {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 30px;
    align-items: stretch;
}

.card {
    background-color: white;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 30px;
    border-radius: 10px;
    border: 1px solid black;
    text-align: center;
    height: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}

.card:hover {
    transform: scale(1.08);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.9);
}

.card-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    display: block;
    margin: 0 auto;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0px;
}

.card-desc-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.card-desc-item {
    margin: 0;
    font-size: 16px;
    color: #333;
}

@media (max-width: 992px) {
    .cards-section {
        padding: 40px 30px;
    }

    .card-title {
        font-size: 20px;
    }

    .card-desc-item {
        font-size: 15px;
    }

    .card-icon {
        width: 45px;
        height: 45px;
    }
}

@media (max-width: 768px) {
    .cards-section {
        padding: 10px 20px;
    }

    .card-title {
        font-size: 18px;
    }

    .card-desc-item {
        font-size: 14px;
    }

    .card-icon {
        width: 40px;
        height: 40px;
    }
}

/* Final section */
.custom-modal {
    max-width: 85% !important;
    width: 85% !important;
}

.modal-header-custom {
    background-color: #F8F5F0;
}

.modal-body-custom {
    max-height: 80vh;
    overflow-y: auto;
    font-size: 16px;
    padding: 0px;
    line-height: 1.6;
    color: #333;
}

.final-section {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/background/foot-ai.jpg");
    background-size: cover;
    background-position: center;
    color: #f8f5f0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.final-content {
    max-width: 1400px;
    padding: 30px 20px 30px 150px;
    text-align: center;
    z-index: 1;
    margin: 0 auto;
}

.final-title {
    font-size: 36px;
    margin-bottom: 0;
    font-weight: bold;
}

.final-subtitle {
    font-size: 28px;
    margin-bottom: 0;
    font-weight: bold;
    margin-top: 40px;
}

.final-text {
    font-size: 21px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #f8f5f0;
}

@media (max-width: 992px) {
    .modal-body-custom {
        font-size: 15px;
        padding: 18px;
    }
    .final-content {
        padding: 25px 15px 25px 100px;
    }
    .final-title {
        font-size: 30px;
    }
    .final-subtitle {
        font-size: 24px;
    }
    .final-text {
        font-size: 18px;
        margin-bottom: 18px;
    }
}

@media (max-width: 768px) {
    .modal-body-custom {
        font-size: 14px;
        padding: 15px;
    }
    .final-content {
        padding: 20px 10px;
    }
    .final-title {
        font-size: 26px;
    }
    .final-subtitle {
        font-size: 22px;
    }
    .final-text {
        font-size: 16px;
        margin-bottom: 15px;
        line-height: 1.5;
    }
}

@media (max-width: 480px) {
    .modal-body-custom {
        font-size: 13px;
        padding: 12px;
    }
    .final-content {
        padding: 10px 10px;
    }
    .final-title {
        font-size: 22px;
    }
    .final-subtitle {
        font-size: 20px;
    }
    .final-text {
        font-size: 14px;
        margin-bottom: 12px;
    }
}

.markdown-content {
    padding: 10px;
}

.markdown-content h1 {
    font-size: 24px;
    margin: 10px 50px;

}

.markdown-content h2 {
    font-size: 20px;
    margin: 20px 0px 0px 60px;
}

.markdown-content p {
    margin-bottom: 0px;
}

.markdown-content ul {
    list-style-type: disc;
    margin-left: 20px;
}

.markdown-content a {
    color: #007bff;
    text-decoration: none;
}

.markdown-content a:hover {
    text-decoration: underline;
}

.data-table {
    overflow-x: auto;
}

.data-table-container {
    border-radius: 5px;
    overflow-x: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.data-table-container img {
    width: 40%;
    vertical-align: middle;
    margin: 0px;
}

.data-table-container .dash-cell {
    padding: 0px !important;
    height: auto !important;
    line-height: normal !important;
}

.data-table-container .dash-cell p {
    margin: 0 !important;
    font-size: 13px !important;
}

.data-table-container .dash-header {
    font-size: 14px !important;
    font-weight: bold;
}

.data-table-container .dash-cell {
    font-size: 13px !important;
}

.dash-table-container .dash-table-inner {
    width: 100%;
}

.dash-table-container .dash-table-inner .dash-fixed-content {
    max-width: none !important;
    min-width: none !important;
}

.dash-table-container .dash-table-inner .dash-cell,
.dash-table-container .dash-table-inner .dash-header {
    min-width: 80px;
    max-width: 120px;
}

.data-table-container .dash-header:last-child {
    border-right: 1px solid #d3d3d3 !important;
}

.data-table-container .dash-cell:last-child {
    border-right: 1px solid #d3d3d3 !important;
}

.dash-filter:last-child {
    border-right: 1px solid #d3d3d3 !important;
}

input.dash-filter--case {
    display: none; 
}

.dash-filter input {
    font-size: 13px !important;
    height: 20px !important;
    padding: 5px !important;
}

/* team and player ranking */
.stat-cards-wrapper {
    padding: 10px 40px;
}

.stat-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.stat-card {
    background-color: #f8f5f0;
    padding: 20px;
    border-radius: 40px;
    width: 32%;
    margin-bottom: 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
}

.metric-label {
    margin: 0;
    font-size: 1.5em;
    color: black;
    font-weight: bold;
}

.metric-label-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.top-row, .other-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.other-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.top-name, .other-name {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.top-logo {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.other-logo {
    width: 25px;
    height: 25px;
    object-fit: contain;
    margin-left: 10px;
}

.top-value {
    font-size: 1.5em;
    font-weight: bold;
    padding-right: 10px;
}

.other-value {
    flex: 0 0 auto;
}

.view-full-list-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #f1e5d0;
    color: black;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
}

.view-full-list-button:hover {
    background-color: #e0d0b0;
}

.pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.pagination-controls .page-info {
    margin: 0 15px;
}

.pagination-controls button {
    background-color: #f1e5d0;
    color: black;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
}

.pagination-controls button:disabled {
    background-color: #e0d0b0;
    cursor: not-allowed;
}

/* Global Stats Header */
.global-stats-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f5f0;
    padding: 20px 40px;
    border-radius: 20px;
    color: black;
}

.league-info {
    display: flex;
    align-items: center;
}

.league-logo {
    height: 60px;
    margin-right: 20px;
}

.league-name {
    font-size: 2em;
    margin: 0;
}

.season {
    font-size: 1em;
    margin: 0;
    color: black;
}

.global-stats-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.global-stat {
    text-align: center;
    margin: 0 10px;
}

.global-stat-value {
    font-size: 1.5em;
    margin: 0;
}

.global-stat-label {
    font-size: 0.9em;
    color: black;
    margin: 0;
}

/* callbacks table */
.full-list-card {
    background-color: #f8f5f0;
    padding: 20px 50px;
    border-radius: 40px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
}

.full-list-other-value {
    flex: 0 0 auto;
    padding-right: 70px;
}

/* Footer */
.footer {
    background-color: #f8f5f0;
    color: #333;
    padding: 15px 20px;
    width: 100%;
    position: relative;
    bottom: 0;
    border-top: 1px solid #dedede;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.footer-section-left {
    flex: 1;
    text-align: left;
    display: flex;
    align-items: center;
}

.footer-section-middle {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo {
    height: 50px;
    margin-right: 10px;
    vertical-align: middle;
}

.footer-title {
    font-size: 24px;
    font-weight: bold;
    color: #1a1a1a;
}

.footer-legal {
    font-size: 14px;
    color: #666;
}

.footer-icon {
    width: 35px;
    margin-left: 20px;
    transition: transform 0.3s;
}

.footer-icon:hover {
    transform: scale(1.1);
}

@media (max-width: 1750px) {
    .footer {
        padding: 13px 17px;
    }
    .footer-title {
        font-size: 20px;
    }
    .footer-logo {
        height: 40px;
        margin-right: 9px;
    }
    .footer-legal {
        font-size: 13px;
    }
    .footer-icon {
        width: 30px;
        margin-left: 15px;
    }
}

@media (max-width: 1600px) {
    .footer {
        padding: 12px 16px;
    }
    .footer-logo {
        height: 36px;
        margin-right: 8px;
    }
    .footer-title {
        font-size: 18px;
    }

    .footer-icon {
        width: 28px;
        margin-left: 13px;
    }
}

@media (max-width: 1400px) {
    .footer {
        padding: 11px 15px;
    }
    .footer-logo {
        height: 32px;
        margin-right: 7px;
    }
    .footer-title {
        font-size: 16px;
    }

    .footer-icon {
        width: 26px;
        margin-left: 11px;
    }
}

@media (max-width: 992px) {
    .footer-logo {
        height: 30px;
        margin-right: 6px;
    }

    .footer-icon {
        width: 24px;
        margin-left: 9px;
    }
}