html, body, #wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
}

body > div {
    margin: 0 !important;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 25px;
    border-radius: 40px;
    background-color: #f8f5f0;
    color: black;
    margin: 10px 150px 0px 150px;
}

.header-info {
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}

.header-logo {
    height: 50px;
    margin: 0px 10px;
}

.header .page {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    margin-left: 10px;
}

.header .title {
    text-decoration: none;
    color: #000;
    /*margin-left: 10px;*/
    font-size: 24px;
}

.content {
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.card:hover {
    transform: scale(1.08);
    /*box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);*/
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.9);
}

.data-table {
    overflow-x: auto;
}

.data-table-container {
    border-radius: 5px;
    overflow-x: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.data-table-container img {
    width: 40%;
    vertical-align: middle;
    margin: 0px;
}

.data-table-container .dash-cell {
    padding: 0px !important;
    height: auto !important;
    line-height: normal !important;
}

.data-table-container .dash-cell p {
    margin: 0 !important;
    font-size: 13px !important;
}

.data-table-container .dash-header {
    font-size: 14px !important;
    font-weight: bold;
}

.data-table-container .dash-cell {
    font-size: 13px !important;
}

.dash-table-container .dash-table-inner {
    width: 100%;
}

.dash-table-container .dash-table-inner .dash-fixed-content {
    max-width: none !important;
    min-width: none !important;
}

.dash-table-container .dash-table-inner .dash-cell,
.dash-table-container .dash-table-inner .dash-header {
    min-width: 80px;
    max-width: 120px;
}

.data-table-container .dash-header:last-child {
    border-right: 1px solid #d3d3d3 !important;
}

.data-table-container .dash-cell:last-child {
    border-right: 1px solid #d3d3d3 !important;
}

.dash-filter:last-child {
    border-right: 1px solid #d3d3d3 !important;
}

input.dash-filter--case {
    display: none; 
}

.dash-filter input {
    font-size: 13px !important;
    height: 20px !important;
    padding: 5px !important;
}

/* team and player ranking */
.stat-cards-wrapper {
    padding: 10px 40px;
}

.stat-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.stat-card {
    background-color: #f8f5f0;
    padding: 20px;
    border-radius: 40px;
    width: 32%;
    margin-bottom: 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
}

.metric-label {
    margin: 0;
    font-size: 1.5em;
    color: black;
    font-weight: bold;
}

.metric-label-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.top-row, .other-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.other-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.top-name, .other-name {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.top-logo {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.other-logo {
    width: 25px;
    height: 25px;
    object-fit: contain;
    margin-left: 10px;
}

.top-value {
    font-size: 1.5em;
    font-weight: bold;
    padding-right: 10px;
}

.other-value {
    flex: 0 0 auto;
}

.view-full-list-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #f1e5d0;
    color: black;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
}

.view-full-list-button:hover {
    background-color: #e0d0b0;
}

/* Global Stats Header */
.global-stats-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f5f0;
    padding: 20px 40px;
    border-radius: 20px;
    color: black;
}

.league-info {
    display: flex;
    align-items: center;
}

.league-logo {
    height: 60px;
    margin-right: 20px;
}

.league-name {
    font-size: 2em;
    margin: 0;
}

.season {
    font-size: 1em;
    margin: 0;
    color: black;
}

.global-stats-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.global-stat {
    text-align: center;
    margin: 0 10px;
}

.global-stat-value {
    font-size: 1.5em;
    margin: 0;
}

.global-stat-label {
    font-size: 0.9em;
    color: black;
    margin: 0;
}

/* callbacks table */
.full-list-card {
    background-color: #f8f5f0;
    padding: 20px 50px;
    border-radius: 40px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
}

.full-list-other-value {
    flex: 0 0 auto;
    padding-right: 70px;
}

/* Footer */
.footer {
    background-color: #f8f5f0;
    color: #333;
    padding: 15px 20px;
    width: 100%;
    position: relative;
    bottom: 0;
    border-top: 1px solid #dedede;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.footer-section-left {
    flex: 1;
    text-align: left;
    align-items: center;
}

.footer-section-middle {
    flex: 1;
    text-align: center;
}

.footer-section-right {
    flex: 1;
    text-align: right;
}

.footer-logo {
    height: 50px;
    margin-right: 10px;
    vertical-align: middle;
}

.footer-title {
    font-size: 24px;
    font-weight: bold;
    color: #1a1a1a;
}

.footer-link {
    color: #44A3DB;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.footer-link:hover {
    color: #0056b3;
}

.footer-legal {
    font-size: 14px;
    color: #666;
}

.footer-icon {
    width: 35px;
    margin-left: 20px;
}

.footer-icon:hover {
    transform: scale(1.1);
}
